{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="display-dashboard"></section>
<section class="container">
    <div class="display_box">
        <div class="display">
            <div class="top_link">
                <a href="{% url 'home' %}" > &#8592;&nbsp;&nbsp;Return home</a>
            </div>
            <div class="contact dashboard_sec">
                <h3>Automatically add the both slots for date Range</h3>

            </div>
            <div class="contact dashboard_sec">
                <form >

                    {{ form.as_p }}
                    <input class="button-custom" type="submit" value="Add">

                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}

