{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- BOOKING DETAILS -->

<section class="hero-sub4">
    <div class="container">
    <div class="booking_box detail">
        <div class="display">
            <div class="top_link">
                <a href="{% url 'userRoomBooking' %}" > &#8592;&nbsp;&nbsp;Return Back</a>
            </div>
            <div class="contact2 dashboard_sec booking-form">
                <h3>Booking Details:</h3>
                {% if booking %}
                    <div class="table">


                            <div class="row">
                                <div class="cell">
                                    Name :
                                </div>
                                <div class="cell">
                                     {{ booking.customer_name }}
                                </div>
                            </div>


                            <div class="row">
                                <div class="cell">
                                   E-mail :
                                </div>
                                <div class="cell">
                                     {{ booking.customer_email }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="cell">
                                   Contact :
                                </div>
                                <div class="cell">
                                     {{ booking.customer_contact }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="cell">
                                  Booking Purpose :
                                </div>
                                <div class="cell">
                                     {{ booking.booking_purpose }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="cell">
                                  Field Number :
                                </div>
                                <div class="cell">
                                     {{ booking.booked_room_number.room_number }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="cell">
                                   Date :
                                </div>
                                <div class="cell">
                                      {{ booking.booking_date_slot.booking_date }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">
                                   Slot :
                                </div>
                                <div class="cell">
                                     {{ booking.booking_date_slot.booking_slot }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">
                                   Price :
                                </div>
                                <div class="cell">
                                      {{ booking.booking_date_slot.booking_price }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">
                                   Payment Method :
                                </div>
                                <div class="cell">
                                      {{ booking.payment_method }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">
                                   Payment Completed :
                                </div>
                                <div class="cell">
                                      {{ booking.payment_completed }}
                                </div>
                            </div>
                <!--            <div


                            class="row">-->
                <!--                <div class="cell">-->
                <!--                   Slot :-->
                <!--                </div>-->
                <!--                <div class="cell">-->
                <!--                     {{ booking.booking_price.price }}-->
                <!--                </div>-->
                <!--            </div>-->
                        </div>
                    <div class="box">
                            <a class="button-delete form-control custom-btn bg-color mt3 aos-init aos-animate link-btn" type = 'submit' style="font-size : 20 px;" href="#popup1">Cancel Booking</a>
                        </div>
                    <div id="popup1" class="overlay">
                            <div class="popup">
                                <a class="close" href="#" >&times;</a>
                                <h5> Are you Sure?</h5>
                                <form method = 'POST' >
                                    {% csrf_token %}
                                    <p><input class = "button-delete form-control custom-btn bg-color mt3 aos-init aos-animate bg-color link-btn" type = "submit" value = "yes"/> <a href='../'></a></p>
                                </form>

                            </div>
                        </div>
                {% else %}
                    <p>No booking exist for selected Id.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</section>


{% endblock %}





