{% extends 'base.html' %}
{% load static %}
{% block content %}

 <!-- FAQ -->
<section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
  <div class="container">
	  <h1 data-aos="fade-up" data-aos-delay="200">Frequently Asked Questions</h1>
	  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" data-aos="fade-up" data-aos-delay="200">
		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
				What are the benefits of NCS?
			  </a>
			</h3>
		  </div>
		  <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
			<div class="panel-body px-3 mb-4">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate expedita ipsam modi pariatur quisquam. Accusamus aliquam, delectus dolor doloribus dolorum exercitationem explicabo fugiat, incidunt minima perferendis repudiandae sapiente voluptatibus voluptatum?</p>
			</div>
		  </div>
		</div>

		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
				How easy is it to use NCS website?
			  </a>
			</h3>
		  </div>
		  <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
			<div class="panel-body px-3 mb-4">
			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at consectetur dolor eligendi eos fugit incidunt iure laborum, libero modi, molestias nam nulla quaerat repudiandae similique suscipit unde vel vero.</p>
			</div>
		  </div>
		</div>

		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
				What is the main motive of NCS?
			  </a>
			</h3>
		  </div>
		  <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
			<div class="panel-body px-3 mb-4">
			  <p>lorem</p>
			</div>
		  </div>
		</div>

		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
				Can NCS improve for my cricket skills?
			  </a>
			</h3>
		  </div>
		  <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
			<div class="panel-body px-3 mb-4">
			  <p>Yes, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores consequuntur cum, earum eligendi excepturi expedita in inventore necessitatibus nulla pariatur praesentium rem rerum sapiente sunt suscipit tenetur vero voluptatibus.</p>
			</div>
		  </div>
		</div>
	  </div>
  </div>
</section>
{% endblock content%}
